@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 0;
}

.main {
  width: 100vw;
  height: 100vh;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("https://i.imgur.com/Lv4al5n.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: start;
  width: 100vw;
  height: 100vh;
  filter: blur(1rem);
  z-index: -1;
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 1000px;
  transition: all 0.3s;
  background: rgba(255, 255, 255, 0.31);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}
@media (max-width: 800px) {
  .card {
    min-width: 500px;
  }
}
@media (max-width: 465px) {
  .card {
    min-width: 0;
    background: none;
    box-shadow:none;
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
  }
}
